@import "../styles/variables";

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin noOutlineBorderRadius {
  margin: 0 10px;
  border-radius: 5px;
  outline: none;
  transition: 0.1s ease-in-out;
  box-shadow: 0px 8px 10px rgba($black, 0.3);
  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba($black, 0.5);
  }
}

@mixin button {
  @include noOutlineBorderRadius;
  font-weight: bold;
  padding: 10px 20px;
  border-width: 3px;
  &:hover {
    transform: translateY(1px);
  }
}
