@import "./mixins";
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.mygradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35vh 0;
  padding: 0 5%;
  color: $black;

  &__heading {
    font-family: "Lobster", cursive;
    font-size: 42px;
    margin: 20px 0;
    letter-spacing: 8px;
    text-align: center;
    @include tablet {
      font-size: 56px;
    }
  }

  .colorpick-eyedropper-input-trigger {
    display: none;
  }

  &__input {
    margin: 0 10px;
    width: 50px;
    height: 30px;
    @include noOutlineBorderRadius;
    box-shadow: 0px 8px 10px rgba($black, 0.3);
    &:hover {
      cursor: pointer;
    }
  }

  &__css {
    margin: 20px 0;
    font-weight: bold;
  }

  &__random {
    padding: 10px 20px;
    @include noOutlineBorderRadius;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    box-shadow: 0px 8px 10px rgba($black, 0.3);
    &:hover {
      box-shadow: 0px 10px 10px rgba($black, 0.5);
      transform: translateY(1px);
    }
  }
}
